<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/Lexic.jpg" type="image/x-icon">
    <link rel="stylesheet" href="./css/criar-usuario-style.css">
    <link rel="stylesheet" href="./css/header_padrao.css">
    <script defer src="js/script-criar-usuario.js"></script>
    <title>Cadastrar Usuário</title>

  </head>
  <body onload="mudaCor()">
    <header id="header" class="header">
        <div class="logo">
            <img src="./img/Lexic.jpg" alt="">
            <h1>Ficha Terminológica</h1>
        </div>
        <div id="button-block" class="links">
            <ul>
                <li id="cadastrar_termos"><a href="">Cadastrar Termos +</a></li>
                <li id="logo_notificacao"><a href=""><img src="./img/sino-de-notificacao 1.png" alt=""></a></li>
                <li id="logo_user"><a href=""><img src="./img/Group.png" alt=""></a></li>
            </ul>
        </div>
    </header>
    <main >
        <form id="create_user" action="">
            <fieldset>
              <legend>Cadastrar Usuário</legend>
              <div class="input-block">
                  <label for="complete_name">Nome Completo</label>
                  <input placeholder="Seu nome" name="complete_name" id="complete_name" type="text" required>
              </div>
              <div class="input-block">
                  <label for="email">E-mail</label>
                  <input placeholder="Seu e-mail" name="email" id="email" type="email" required>
              </div>
              <div class="radio-block">
                  <p>Tipo de Usuário</p>
                  <input type="radio" id="administrator" name="type_user_group" value="administrator" >
                  <label for="administrator">Administrador</label>
                  <input type="radio" id="researcher" name="type_user_group" value="researcher" >
                  <label for="researcher">Pesquisador</label>
                  <input type="radio" id="specialist" name="type_user_group" value="specialist" >
                  <label for="specialist">Especialista</label>
              </div>
              <div class="input-block" id="password-block">
                <label for="password">Senha Atual</label>
                <input placeholder="********" name="password" id="password" type="password" required>
              </div>
              <div class="button-block"> 
                <button id="return">Voltar</button>
                <button id="save" type="submit">Salvar</button>
              </div>
            </fieldset>
        </form>
      </main>
      <footer id="footer">
        <h2>Desenvolvido por Codamais @ 2021</h2>
      </footer>

  </body>
</html>