<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./img/Lexic.jpg" type="image/x-icon">
  <link rel="stylesheet" href="css/ficha-style.css">
  <link rel="stylesheet" href="./css/header_padrao.css">
  <script defer src="js/script-ficha.js"></script>
  <title>Ficha</title>
</head>

<body onload="mudaCor()">
  <header id="header" class="header">
    <div class="logo">
        <img src="./img/Lexic.jpg" alt="">
        <h1>Ficha Terminológica</h1>
    </div>
    <div id="button-block" class="links">
        <ul>
            <li id="cadastrar_termos"><a href="">Cadastrar Termos +</a></li>
            <li id="logo_notificacao"><a href=""><img src="./img/sino-de-notificacao 1.png" alt=""></a></li>
            <li id="logo_user"><a href=""><img src="./img/Group.png" alt=""></a></li>
        </ul>
    </div>
  </header>
  <section class="conteudo">
    <div class="conteudo-main">

      <h2>Cadastrar</h2>

      <div class="ficha">

        <label for="entrada">Entrada:</label> <br>
        <input type="text" id="entrada" class="txt" placeholder="Entrada">

        <label for="cat-morfo">Catergoria Morfológica:</label>  <br>
        <input type="radio" id="cat-morfo">

        <label for="genero">Genêro:</label> <br>
        <input type="radio" id="genero">

        <label for="num">Número:</label> <br>
        <input type="radio" id="num">

        <label for="variante">Variante:</label> <br>
        <input type="text" id="variante" class="txt" placeholder="Selecione para preencher as variantes">

        <label for="area">Área:</label> <br>
        <input type="text" id="area" class="txt">

        <label for="definicao">Definição:</label> <br>
        <input type="text" id="definicao" placeholder="Selecione para preencher as definições" class="txt">

        <label for="fonte-definicao">Fonte da definição:</label> <br>
        <input type="text" id="fonte-definicao" placeholder="Selecione para preencher as fontes das definições"
          class="txt">

        <label for="contexto">Contexto de Uso:</label> <br>
        <input type="text" class="txt" id="contexto" placeholder="Selecione para preencher o contexto de uso">

        <label for="fonte-contexto">Fonte Contexto de Uso:</label> <br>
        <input type="text" id="fonte-contexto" placeholder="Selecione para preencher as fontes do contexto de uso"
          class="txt">

        <label for="remissivas">Remissivas:</label> <br>
        <input type="text" id="remissivas" placeholder="Selecione para preencher a correlação com o termo" class="txt">

        <label for="nota">Nota:</label> <br>
        <input type="text" class="txt" id="nota">

        <label for="autor">Autor:</label> <br>
        <input type="text" placeholder="Autor" class="txt" id="autor">

        <label for="redator">Redator:</label> <br>
        <input type="text" id="redator" class="txt" placeholder="Redator">

        <label for="data-registro">Data de registro:</label> <br>
        <input type="date" id="data-registro" class="txt" placeholder="dd/mm/aaaa">

        <label for="revisao-especialista">Revisão Especialista:</label> <br>
        <input type="text" id="revisao-especialista" class="txt">

        <label for="revisao">Revisão Línguistica:</label> <br>
        <input type="text" id="revisao" class="txt">

        <label for="data-ultima">Data da última revisão:</label> <br>
        <input type="date" id="data-ultima" class="txt" placeholder="dd/mm/aaaa">

        <label for="">Idiomas:</label> <br>
        <input type="text" class="txt" id="idiomas" placeholder="Selecione para preencher a correlação com o termo">

        <label for="frequencia">Frequência do termo no corpus:</label> <br>
        <input type="text" id="frequencia" class="txt" placeholder="1000">

      </div>
      <div class="btn">
        <button id="btn-verificar">Verificar</button>
        <button id="btn-salvar">Salvar</button>
      </div>
    </div>

  </section>

  <footer id="footer">
    <h2>Desenvolvido por Codamais @ 2021</h2>
  </footer>
</body>

</html>