<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="css/ficha-style.css">

  <title>Ficha</title>
</head>
<body>
  <script src="script-ficha.js"></script>
   <header class="cabecalho" id="header">
        <h2>Glossário COVID-19</h2>
      </header>

      <section class="conteudo">
        <div class="conteudo-main">
          <h2>Analisar</h2>

          <div class="ficha">
            <label for="entrada">Entrada:</label>
            <input type="text" id="entrada" placeholder="Entrada">

            <label for="categoria">Categoria Morfológica:</label>
            <input type="radio" id="cateroria" value="Nome">
            <input type="radio" id="cateroria" value="Verbo">

            <label for="genero">Gênero:</label>
            <input type="radio" id="genero" value="Masculino">
            <input type="radio" id="genero" value="Feminino">
            <input type="radio" id="genero" value="Dois gêneros">

            <label for="numero">Número:</label>
            <input type="radio" id="numero" value="Singular">
            <input type="radio" id="numero" value="Plural">

            <label for="variante">Variante:</label>
            <input type="text" id="variante" value="Variante" placeholder="Selecione uma opção">

            <label for="area">Área</label>
            <input type="text" id="area" value="area" placeholder="Área">

            <h2>Definição:</h2>

            <label for="dicionario-comum">Dicionário Língua Comum:</label>
            <input type="text" id="dicionario-comum" value="dicionario-comum" placeholder="Definição">

            <label for="dicionario-especializado">Dicionário Especializado 1</label>
            <input type="text" id="dicionario-especializado" value="dicionario-especializado" 
            placeholder="Definição">

            <label for="dicionario-especializado1">Dicionário Especializado 2</label>
            <input type="text" id="dicionario-especializado1" value="dicionario-especializado" 
            placeholder="Definição">

            <label for="proposta-definicao">Proposta de Definição</label>
            <input type="text" id="proposta-definicao" value="proposta-definicao" placeholder="Definição">

            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
          </div>
        </div>
        
      </section>

      <footer class="rodape" id="footer">
        <h2>Desenvolvido por Codamais @ 2021</h2>
      </footer>
</body>
</html>