<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/index.css" rel="stylesheet">

  <title>Document</title>
</head>
<body>
  <section>
    <header>
      <h1>Glossário COVID-19</h1>
    </header>
    <main>
      
        <div id="conteiner">
          <h2>Para acessar a ficha selecione o tipo de usuário:</h2>
          <a href="./Tela-login.html">
          <button id="admin"><img class="icon" src="../img/icon azul.png"><p id="text1">Administrador</p></button>
          </a>
          <a href="./Tela-login.html">
          <button id="editor"><img class="icon" src="../img/icon roxo.png"><p id="text2">Editor</p></button>
          </a>
          <a href="./Tela-login.html">
          <button id="outs"><img class="icon" src="../img/icon verde.png"><p id="text1">Outro usuário</p></button>
          </a>
        </div>   
    </main>

    <footer>
      <p id="rodape">Desenvolvido por Codamais @ 2021</p>
    </footer>
  </section>
</body>
</html>