<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/index-style.css" />

    <title>Index</title>
  </head>

  <body>
    <script src="js/script.js"></script>

    <header class="cabecalho" id="header">
      <h2>Glossário COVID-19</h2>
    </header>

    <section class="conteudo">
      <div class="conteudo-main">
        <h2>Para acessar a ficha selecione o tipo de usuário:</h2>
        <div class="login">
          <button id="admin" onclick="trocaPaginaAdmin()">
            <i class="fas fa-user-friends"></i>Administrador
          </button>
        </div>
        <div class="login">
          <button id="prof" onclick="trocaPaginaProf()">
            <i class="fas fa-user-friends"></i>Profissional
          </button>
        </div>
        <div class="login">
          <button id="others" onclick="trocaPaginaOthers()">
            <i class="fas fa-user-friends"></i>Outros
          </button>
        </div>
      </div>
    </section>

    <footer class="rodape" id="footer">
      <h2>Desenvolvido por Codamais @ 2021</h2>
    </footer>
  </body>
</html>
