<!DOCTYPE html>
<html lang="pt-BR">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Ficha terminológica Lexic</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
      <link rel="stylesheet" href="css/index-style.css">
      <!-- Bootstrap-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
      <!-- Fonte-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet"> 
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="css/style-index.css">
      <link rel="stylesheet" href="css/main-index.css">
      <!-- JavaScript do Bootstrap-->
      <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
      </script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
      <!-- Font Awesome-->
      <script src="https://kit.fontawesome.com/d3a5293b98.js" crossorigin="anonymous"></script>
      <!-- Progess Bar-->
      <script src="js/progressbar.min.js"></script>
      <!-- Parallax-->
      <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
    </head>
    <body>
      <script src="js/script.js"></script>
      <header>
        <div class="cabecalho" id="header">
          <nav class="navbar navbar fixed-top">
            <img src="img/Lexic.jpg" alt="Logo Lexic">
            <h2>Ficha Terminológica</h2>
          </nav>
        </div>
      </header>

    

      <section class="conteudo">
        <div class="conteudo-main">
          <h2>Para acessar a ficha selecione o tipo de usuário:</h2>
          <div class="login">

              <button id="admin" onclick="trocaPaginaAdmin()"><i class="fas fa-user-friends"></i>Administrador</button>

          </div>
          <div class="login">

              <button id="pesquisador" onclick="trocaPaginaPesquisador()"><i class="fas fa-user-friends"></i>Pesquisador</button>

          </div>
          <div class="login">

              <button id="especialista" onclick="trocaPaginaEspecialista()"><i class="fas fa-user-friends"></i>Especialista</button>

          </div>
        </div>
      </section>

      <footer class="rodape" id="footer">
        <h2>Desenvolvido por Codamais @ 2021</h2>
      </footer>

    </body>
</html>