<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./img/Lexic.jpg" type="image/x-icon">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    
    <link rel="stylesheet" href="css/termos_style.css" />
    <link rel="stylesheet" href="css/header-footer.css" />
    <link rel="stylesheet" href="css/dropdown_user_icon.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <style>
      #sin{
        cursor: pointer;
      }
      #cadastrar_termos{
        cursor: pointer;
      }
      img{
        width: 30px;
      }
      #alt{
        display: none;
      }
      #block{
        display: none;
      }
      #revisar{
        margin-left: 20px;
        
      }
    </style>
    <!-- CSS Personalizado -->
    <link rel="stylesheet" href="./css/meucss.css" />
  </head>
  <body onload="mudaCor(),  mudaSino()">
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  

    <header id="header" class="header">
      <div class="logo">
        <img src="./img/Lexic.jpg" alt="" />
        <a href="tela_termos.html"> <h1>Ficha Terminológica</h1></a> 
       
      </div>
      <div id="button-block" class="links">
        <ul>
          <li id="criar_usuario">
            <a href="tela_usuarios.html">Gerenciar Usuários</a>
          </li>
          <li id="cadastrar_termos">
            <a><span onclick="irtelacadastrar()">Cadastrar Termos +</span></a>
          </li>
          <li id="logo_notificacao">
            <a  ><img id="sin" onclick="mudando();"
              src="./img/sinos.png" alt="" ></a>
          </li>
          <li id="dropdown" class="dropdown">
            <button onclick="myFunction()" class="dropbtn"></button>
            <div id="myDropdown" class="dropdown-content">
              <p id="nome_usuario"><span id="nome_usuario"></p>
              <p id="status_user">Administrador</p>
              <p id="alt" id="text">Alternar Perfis:</p>
                        <div class="a-block" id="block">
                            <a href="tela_termos.html">Administrador</a>                        
                            <a href="termo.html">Pesquisador</a>
                            <a href="tela_termos_especialista.html">Especialista</a>
                        </div>
              <button onclick="deslogar()">Logout</button>
            </div>
          </li>
        </ul>
      </div>
    </header>

    <main class="block-main">
       <div class="conteudo">
                <!-- <div class="tela_termos" id="tela_termos">
              <div id="grid">
                <legend>Editar e Deletar:</legend>
                <div class="Busca">
                  <input
                    placeholder="Pesquisar"
                    type="search"
                    name="pesquisa"
                    id="pesquisa"
                  />
                </div>
              </div>
                <h3>Termos cadastrados: <span id="total-de-termos"></span></h3>
            -->
            
            <div class="header_block">
              <div class="title-block">
                  <h2>Editar e Deletar</h2>
                  <p>Total de termos: <span id="total-de-termos"></span></p>
              </div>
              <div class="search-block">
                  <input placeholder="Pesquisar" id="searchBar"
                  na me="searchBar"
                  type="text">
              </div>
          </div>
          <div class="alphabet-block">
            <p>A-Z</p>
            <span>|<a id="tra"> A</a></span>
            <span>|<a id="tra"> B</a></span>
            <span>|<a id="tra"> C</a></span>
            <span>|<a > D</a></span>
            <span>|<a > E</a></span>
            <span>|<a > F</a></span>
            <span>|<a > G</a></span>
            <span>|<a > H</a></span>
            <span>|<a > I</a></span>
            <span>|<a > J</a></span>
            <span>|<a > K</a></span>
            <span>|<a > L</a></span>
            <span>|<a > M</a></span>
            <span>|<a > N</a></span>
            <span>|<a > O</a></span>
            <span>|<a > P</a></span>
            <span>|<a > Q</a></span>
            <span>|<a > R</a></span>
            <span>|<a > S</a></span>
            <span>|<a > T</a></span>
            <span>|<a > U</a></span>
            <span>|<a > V</a></span>
            <span>|<a > W</a></span>
            <span>|<a > X</a></span>
            <span>|<a > Y</a></span>
            <span>|<a > Z</a></span>
          </div>
          <div class="block_List">
            <div class="termos_block" id="termos_block">
             
            </div>
         </div>
       </div>
    </main>    

    <div id="info">
      <img id="ajuste" src="./img/publicar.png" alt=""><p id="revi">Publicar</p>
      <img  id="ajuste" src="./img/publicado.png" alt=""><p id="revi">Publicado</p> 
    </div>
    
    <footer id="footer">
      <h2>Desenvolvido por Codamais &copy; 2021</h2>
    </footer>
    
    <script src="js/cadastro_script.js"></script>
    <script src="js/menu_dropdown.js"></script>
    <script src="js/Crud_terms.js"></script>
    <script src="js/notify.js"></script>

  </body>
</html>
