<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/style-profissional.css" rel="stylesheet">

  <title>Profissional</title>
</head>
  <body>
    <header>
      <div class="topo">
        <h2>Glossário COVID-19</h2>
      </div>
  </header>

  <section>
    <div class="admin-content">
      <h2>Para acessar a ficha preencha os campos abaixo:</h2>
      <div class="content">
        <p>Usuário:</p>
        <div class="input">
          <input type="text" placeholder="USUÁRIO">
        </div>
        <p>Senha:</p>
        <div class="input">
        <input type="password" placeholder="********" class="input">
        </div>
      </div>
      <a href="Tela-cadastrar.html"><button class="btn-acessar"><i class="fas fa-user-friends"></i>Acessar</button></a>
    </div>
  </section>

  <footer>
    <div class="footer-content">
      <h2>Desenvolvido por Codamais @ 2021</h2>
    </div>
  </footer>
  </body>
</html>