<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style-cadastro.css">
  <title>Cadastro</title>
</head>
    <body>
      <header>
          <div class="topo">
            <h2>Glossário COVID-19</h2>
            <button type="button" class="btn-cadastro">Cadastrar Termos +</button>
          </div>
      </header>

      <section id="termos-content">
        <h2>Editar e deletar: </h2>
        <h4>Total de termos: 16</h4>
        <div class="pesquisa">
          <input type="search" class="input" value="" placeholder="Pesquisar">
        </div>

       <div class="termos-content">
         <div class="background-termos">
           <div class="termos">
            <p>LOCKDOWN</p>
           </div>
           <i class="fas fa-trash"></i>
         </div>
         <div class="background-termos">
           <div class="termos">
             <p>LOCKDOWN</p>
           </div>
           <i class="fas fa-trash"></i>
         </div>
         <div class="background-termos">
           <div class="termos">
            <p>LOCKDOWN</p>
           </div>
           <i class="fas fa-trash"></i>
         </div>
         <div class="background-termos">
           <div class="termos">
            <p>LOCKDOWN</p>
           </div>
           <i class="fas fa-trash"></i>
         </div>
         <div class="background-termos">
          <div class="termos">
           <p>LOCKDOWN</p>
          </div>
          <i class="fas fa-trash"></i>
        </div>
        <div class="background-termos">
          <div class="termos">
            <p>LOCKDOWN</p>
          </div>
          <i class="fas fa-trash"></i>
        </div>
        <div class="background-termos">
          <div class="termos">
           <p>LOCKDOWN</p>
          </div>
          <i class="fas fa-trash"></i>
        </div>
        <div class="background-termos">
          <div class="termos">
           <p>LOCKDOWN</p>
          </div>
          <i class="fas fa-trash"></i>
        </div>
        <div class="background-termos">
          <div class="termos">
           <p>LOCKDOWN</p>
          </div>
          <i class="fas fa-trash"></i>
        </div>
        <div class="background-termos">
          <div class="termos">
            <p>LOCKDOWN</p>
          </div>
          <i class="fas fa-trash"></i>
        </div>
        <div class="background-termos">
          <div class="termos">
           <p>LOCKDOWN</p>
          </div>
          <i class="fas fa-trash"></i>
        </div>
        <div class="background-termos">
          <div class="termos">
           <p>LOCKDOWN</p>
          </div>
          <i class="fas fa-trash"></i>
        </div>
        <div class="background-termos">
          <div class="termos">
           <p>LOCKDOWN</p>
          </div>
          <i class="fas fa-trash"></i>
        </div>
        <div class="background-termos">
          <div class="termos">
           <p>LOCKDOWN</p>
          </div>
          <i class="fas fa-trash"></i>
        </div>
        <div class="background-termos">
          <div class="termos">
           <p>LOCKDOWN</p>
          </div>
          <i class="fas fa-trash"></i>
        </div>
        <div class="background-termos">
          <div class="termos">
           <p>LOCKDOWN</p>
          </div>
          <i class="fas fa-trash"></i>
        </div>
       </div>
      </section>
      
      <footer>
        <div class="footer-content">
          <h2>Desenvolvido por Codamais @ 2021</h2>
        </div>
      </footer>
    </body>
</html>