<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/Lexic.jpg" type="image/x-icon">
    <script defer src="js/script-cadastro.js"></script>
    <link rel="stylesheet" href="./css/cadastro-style.css">
    <link rel="stylesheet" href="./css/header_padrao.css">

    <title>Revisar Termos</title>

  </head>

  <body onload="mudaCor()">
    <header id="header" class="header">
      <div class="logo">
          <img src="./img/Lexic.jpg" alt="">
          <h1>Ficha Terminológica</h1>
      </div>
      <div id="button-block" class="links">
          <ul>
              <li id="cadastrar_termos"><a href="">Cadastrar Termos +</a></li>
              <li id="logo_notificacao"><a href=""><img src="./img/sino-de-notificacao 1.png" alt=""></a></li>
              <li id="logo_user"><a href=""><img src="./img/Group.png" alt=""></a></li>
          </ul>
      </div>
  </header>
    <section class="conteudo">
      <div class="conteudo-main">
        <h2>Revisar Termos</h2>
        <label for="termos">Total de termos: 0</label>
        
        <div class="divBusca">
          <input type="text" id="txtBusca" placeholder="Pesquisar">
        </div>

          <div class= "total-termos">

            <div class="termos">
              <div class="termo-especifico">
                <p>Termo</p>
              </div>
              <i class="fas fa-trash"></i>
            </div>
            
          </div>


        </div>        
      </div>
    </section>

    <footer class="rodape" id="footer">
      <h2>Desenvolvido por Codamais @ 2021</h2>
    </footer>
  </body>
</html>