<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login_style.css">
    <link rel="stylesheet" href="css/header-footer.css">

    <title>Login</title>

</head>

<body onload="mudaCor()">
    <script src="js/login_script.js"></script>

    <header id="header" class="header">
        <div class="logo">
            <img src="./img/Lexic.jpg" alt="">
            <h1>Ficha Terminológica</h1>
        </div>
    </header>

    <main class="conteudo">
        <form id="tela_login" action="">
            <fieldset>
                <legend id="aqui">Para acessar a ficha preencha os campos abaixo:</legend>

                <div class="input-block">
                    <label for="user">Usuário:</label> <br>
                    <input placeholder="Usuário" type="text" name="user" id="user" required>
                </div>

                <div class="input-block">
                    <label for="password">Senha:</label> <br>
                    <input placeholder="********" type="text" name="password" id="password" required>
                </div>

                <button id="acesso" onclick="validador()" type="button"><i class="fas fa-user-friends"></i>Acessar</button>

            </fieldset>
        </form>

    </main>

    <footer id="footer">
        <h2>Desenvolvido por Codamais @ 2021</h2>
    </footer>

</body>

</html>