<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/termos_style.css">
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="css/dropdown_user_icon.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      legend{
      
        margin-bottom: 40px;
      }
      h3{
        margin-left: 50px;
        margin-bottom: 40px;
      }
      #criar_usuario{
        display: none;
      }
    </style>
    
    <title>Cadastro</title>

  </head>

  <body onload="mudaCor()">
    
    <header id="header" class="header">
      <div class="logo">
          <img src="./img/Lexic.jpg" alt="">
          <h1>Ficha Terminológica</h1>
      </div>
      <div id="button-block" class="links">
          <ul>
              <li id="criar_usuario"><a href="tela_usuarios.html">Criar Usuario</a></li>
              <li id="cadastrar_termos"><a href="Cadastrar_termos.html">Cadastrar Termos +</a></li>
              <li id="logo_notificacao">
                  <a href="./tela_notificacoes_pesquisador.html"><img src="./img/sino-de-notificacao 1.png" alt=""></a>
              </li>
              <li id="dropdown" class="dropdown">
                  <button onclick="myFunction()" class="dropbtn"></button>
                  <div id="myDropdown" class="dropdown-content">
                      <p id="nome_usuario">Flavia Maia</p>
                      <p id="status_user">Pesquisador</p>
                      
                      <button onclick="deslogar()">Logout</button>
                  </div>
              </li>
          </ul>
      </div>
    </header>

    <main class="block-main">
      <div class="conteudo">
               <!-- <div class="tela_termos" id="tela_termos">
             <div id="grid">
               <legend>Editar e Deletar:</legend>
               <div class="Busca">
                 <input
                   placeholder="Pesquisar"
                   type="search"
                   name="pesquisa"
                   id="pesquisa"
                 />
               </div>
             </div>
               <h3>Termos cadastrados: <span id="total-de-termos"></span></h3>
           -->
           
           <div class="header_block">
             <div class="title-block">
                 <h2>Editar e Deletar</h2>
                 <p>Total de termos: <span id="total-de-termos"></span></p>
             </div>
             <div class="search-block">
                 <input placeholder="Pesquisar" type="text">
             </div>
         </div>
         <div class="alphabet-block">
           <p>A-Z</p>
           <span>|<a onclick="" href=""> A</a></span>
           <span>|<a href=""> B</a></span>
           <span>|<a href=""> C</a></span>
           <span>|<a href=""> D</a></span>
           <span>|<a href=""> E</a></span>
           <span>|<a href=""> F</a></span>
           <span>|<a href=""> G</a></span>
           <span>|<a href=""> H</a></span>
           <span>|<a href=""> I</a></span>
           <span>|<a href=""> J</a></span>
           <span>|<a href=""> K</a></span>
           <span>|<a href=""> L</a></span>
           <span>|<a href=""> M</a></span>
           <span>|<a href=""> N</a></span>
           <span>|<a href=""> O</a></span>
           <span>|<a href=""> P</a></span>
           <span>|<a href=""> Q</a></span>
           <span>|<a href=""> R</a></span>
           <span>|<a href=""> S</a></span>
           <span>|<a href=""> T</a></span>
           <span>|<a href=""> U</a></span>
           <span>|<a href=""> V</a></span>
           <span>|<a href=""> W</a></span>
           <span>|<a href=""> X</a></span>
           <span>|<a href=""> Y</a></span>
           <span>|<a href=""> Z</a></span>
         </div>
         <div class="block_List">
           <div class="termos_block" id="termos_block">
            
           </div>
        </div>
    </main>
     
      <footer id="footer">
        <h2>Desenvolvido por Codamais @ 2021</h2>
    </footer>
    <script>
      $(document).ready(function () {
        $("#pesquisa").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          console.log(`value`, value);
          $("#lista-de-termos *").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
          });
        });
      });
    </script>
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/cadastro_script.js"></script>
    <script src="js/menu_dropdown.js"></script>
    <script src="js/Termos.js"></script>
  </body>
  </html>