<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/Lexic.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/usuario-style.css">
    <link rel="stylesheet" href="./css/header_padrao.css">
    <script defer src="js/script-usuario.js"></script>
    <title>Usuários Cadastrados</title>

  </head>
  <body onload="mudaCor()">
    <header id="header" class="header">
      <div class="logo">
          <img src="./img/Lexic.jpg" alt="">
          <h1>Ficha Terminológica</h1>
      </div>
      <div id="button-block" class="links">
          <ul>
              <li id="cadastrar_termos"><a href="">Cadastrar Termos +</a></li>
              <li id="logo_notificacao"><a href=""><img src="./img/sino-de-notificacao 1.png" alt=""></a></li>
              <li id="logo_user"><a href=""><img src="./img/Group.png" alt=""></a></li>
          </ul>
      </div>
    </header>

    <section class="conteudo">
      <div class="conteudo-main">
        <h2>Usuários cadastrados</h2>

        <div class="users">
          <h3>Nome</h3>

          <h3>Tipo de usuário</h3>

          <h3>E-mail</h3>

          <h3>Ações</h3>

          <p>Isabella</p>

          <p>Pesquisador</p>

          <p>fulano@fulano.com.br</p>

          <p><i class="fas fa-pencil-alt" id="lapis"></i><i class="fas fa-trash-alt" id="lixeira"></i></p>
          <p>Isabella</p>

          <p>Pesquisador</p>

          <p>fulano@fulano.com.br</p>

          <p><i class="fas fa-pencil-alt" id="lapis"></i><i class="fas fa-trash-alt" id="lixeira"></i></p>
  
        </div>

        <button id="btn-criar-user" onclick="trocarPagina1()">Criar Usuário</button>

      </div>
    </section>

    <footer id="footer">
      <h2>Desenvolvido por Codamais @ 2021</h2>
    </footer>
  </body>
</html>