@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.cabecalho {
  background-color: #314c85;
  color: #fff;
  padding: 20px;
  display: flex;
}
.cabecalho img {
  margin-right: 10px;
  border-radius: 100%;
  width: 5vw;
}
.cabecalho h2 {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}
.cabecalho button {
  width: 15vw;
  height: 5vh;
  background: #ffffff;
  border: 1px solid #314c85;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
#btn-cadastro {
  width: fit-content;
  padding: 5px;
  margin-left: auto;
  margin-top: 15px;
}
#btn-notificacao,
#btn-users {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  font-size: 30px;
  text-align: center;
}
#btn-notificacao i,
#btn-users i {
  padding: 0;
  margin: 0;
}
