@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
html,
body {
  height: 100%;
  min-width: 1024px !important; /* força largura minima de 1024px*/
}
body {
  display: flex;
  flex-direction: column;
}
/* Header --------------------------------------------------*/
#header-especialista {
  background-color: #430d64;
}
.header {
  height: 87px;
  align-items: center;
  display: flex;
  background-color: #234f90;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 65px;
  width: 65px;
  left: 25px;
  top: 9px;
  border-radius: 500px;
  margin-left: 20px;
}
.logo h1 {
  margin-left: 20px;
  font-family: Poppins;
  font-style: Bold;
  font-size: 40px;
  line-height: 60px;
  line-height: 100%;
  text-align: Left;
  vertical-align: Top;
  color: white;
  font-weight: bold;
}
.links {
  margin-right: 0rem;
}
.links ul {
  margin-bottom: 0px;
  align-items: center;
  display: flex;
}
.links ul li {
  margin-right: 20px;
}
#cadastrar_termos {
  height: 37px;
  width: 203px;
  left: 1040px;
  top: 21px;
  border-radius: 8px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cadastrar_termos a {
  text-decoration: none;
  font-family: Poppins;
  font-style: Bold;
  font-size: 18px;
  line-height: 27px;
  line-height: 100%;
  text-align: Left;
  vertical-align: Top;
  fill: Solid;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
}
#criar_usuario {
  height: 37px;
  width: 203px;
  left: 1040px;
  top: 21px;
  border-radius: 8px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
#criar_usuario a {
  text-decoration: none;
  font-family: Poppins;
  font-style: Bold;
  font-size: 18px;
  line-height: 27px;
  line-height: 100%;
  text-align: Left;
  vertical-align: Top;
  fill: Solid;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
}
#logo_user,
#logo_notificacao {
  background-color: #fafafa;
  height: 54.999996185302734px;
  width: 55px;
  border-radius: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sin {
  background-color: #fafafa;
  height: 54.999996185302734px;
  width: 55px;
  border-radius: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*#logo_notificacao{
  display: none;
}*/
/* body --------------------------------------------------- */
.conteudo {
  /* display: flex;
  justify-content: center; */
  flex: 1 0 auto;
}

/* Footer ------------------------------------------------ */
#footer-especialista {
  background-color: #430d64;
}
footer {
  background-color: #314c85;
  flex-shrink: 0;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: re;
}
footer h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
}

@media (min-width: 1240px)
{
  footer {
    background-color: #314c85;
    flex-shrink: 0;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: re;
    margin-top: 90px;
  }
  footer h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
  }
}