@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
root {
  --bg-admin: #186eef;
  --bg-prof: #430d64;
  --bg-others: #0d4f3f;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.cabecalho {
  background-color: #186eef;
  color: #fff;
  padding: 20px;
}
.cabecalho h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}

.conteudo {
  flex: 1 0 auto;
}
.conteudo-main {
  margin-top: 80px;
}
.conteudo-main h2 {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #101564;
}
.login {
  margin-top: 40px;
  text-align: center;
}
.login button {
  width: 25vw;
  height: 7vh;
  border-radius: 10px;
  color: #fff;
  border: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 250;
  font-size: 18px;
}
i {
  margin-right: 20px;
}
#admin {
  background-color: #186eef;
  padding-right: 30px;
}
#prof {
  background-color: #430d64;
  padding-right: 55px;
}
#others {
  background-color: #0d4f3f;
  padding-right: 95px;
}

.rodape {
  background-color: #186eef;
  flex-shrink: 0;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.rodape h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
}
