*{
  margin: 0; padding: 0;
}

body{}

section{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas: "h h h"
                       "m m m"
                       "f f f"
}

header{
  background: #3485FF;
  height: 87px;
  left: 0px;
  top: 0px; 
  grid-area: h;
}

h1{
  position: absolute;
  width: 505px;
  height: 77px;
  left: 25px;
  top: 10px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 52px;

  color: #FFFFFF;
}

main{
  background: #FFFFFF;
  grid-area: m;
}

h2{
  position: absolute;
  width: 952px;
  height: 152px;
  left: 408px;
  top: 200px;
  text-align: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;

  color: #101564;
}

#conteiner{
  text-align: center;
}

#admin{
  position: absolute;
  width: 285px;
  height: 50px;
  left: 752px;
  top: 316px;

  background: #3485FF;
  border: 2px solid #3485FF;
  box-sizing: border-box;
  border-radius: 8px;
}

#text1{
  width: 341px;
  height: 23px;

  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  
  color: #FAFAFA;
}

#text2{
  text-align: center;
  height: 23px;

  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  
  color: #FAFAFA;
}

#editor{
  position: absolute;
  width: 285px;
  height: 50px;
  left: 752px;
  top: 416px;

  background: #B234FF;
  border-radius: 8px;
}

#outs{
  position: absolute;
  width: 282px;
  height: 50px;
  left: 752px;
  top: 514px;

  background: #0D4F3F;
  border-radius: 8px;
}

footer{
  background: #3485FF;  
  grid-area: f;
}

#rodape{
  position: absolute;
  width: 475px;
  height: 51px;
  left: 652px;
  top: 781px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;

  color: #0D114F;
}

.icon{
  display: flex;
  align-items: center;
  width: 23px;
  left: 0px;
  right: 30px;
}

#admin:hover {
  border-color: #14161a;
  border-width: 5px;
  color:white;
  transition: all 0.5s ease-in;
}

#outs:hover {
  border-color: #14161a;
  border-width: 5px;
  color:white;
  transition: all 0.5s ease-in;
}

#editor:hover {
  border-color: #14161a;
  border-width: 5px;
  color:white;
  transition: all 0.5s ease-in;
}
