#tela_login{
  display: flex;
}
#tela_login{
  margin-top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1;
  text-align: center;
  height: 318px;
}

#aqui{
  margin-bottom: 23px;
}

#tela_login legend{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #101564;
  text-align: center;
  margin-bottom: 40px;
}
.input-block label{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #4D5E77;
  margin-bottom: 10px;
}
.input-block input{
  padding-left: 10px;
  width: 20vw;
  height: 5vh;
  font-size: 20px;
  background-color: #FFFFFF;
  border: 2px solid #A1B2CD;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 25px
}
#acesso{
  background-color: #314C85;
  margin-top: 10px;
  width: 20vw;
  height: 7vh;
  border: 0;
  border-radius: 8px;
  color: #FFF;
}
i{
  margin-right: 5px;
}


#password{
  margin-left: 50px;
}
#pass {

  padding-left: 15px;
  font-size: 20px;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  #tela_login legend{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #101564;
    text-align: center;
    margin-bottom: 40px;
  }
  #aqui{
    font-size: 20px;
    margin-left: -210px;
  }

  .input-block input {
    padding-left: 10px;
    width: 50vw;
    height: 5vh;
    font-size: 20px;
    background-color: #FFFFFF;
    border: 2px solid #A1B2CD;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 25px;
    margin-left: -420px;
  }

  #usando{
    font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #4D5E77;
  margin-left: -690px;
  margin-bottom: 10px;
  }

  #senha{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #4D5E77;
    margin-left: -690px;
    margin-bottom: 10px;
  }

  #password{
    padding-left: 10px;
    width: 50vw;
    height: 5vh;
    font-size: 20px;
    background-color: #FFFFFF;
    border: 2px solid #A1B2CD;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 25px;
    margin-left: -370px;
  }
  
  #tela_login button {
    background-color: #314C85;
    margin-top: 10px;
    width: 50vw;
    height: 7vh;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    margin-left: -420px;
  }

  footer {
    background-color: #314c85;
    flex-shrink: 0;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: re;
    margin-top: 90px;
    width: 100%;
  }
  footer h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-left: -400px;
   
  }
}

.forgot-link{
  font-size: 28px;
  border: none;
  padding: 30px;
  background-color: white;
  color: #314C85;
}
