* {
  scroll-behavior: smooth;
}
#Cadastrar_termos {
  /* display: flex;
  justify-content: center !important; */
}
#Cadastrar_termos fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#Cadastrar_termos fieldset legend {
  padding-left: 1rem;
  padding-top: 1.5rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  color: #101564;
}
.container {
  display: flex;
  justify-content: center;
}
.page-block {
  display: flex;
  width: 100%;
}
.list-block {
  width: 50%;
  margin: 0px;
}

.radio-block {
  padding: 1rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #234f90;
}
.radio-block input {
  background: #ffffff;
  border: 15px solid #7b8ca7;
  box-sizing: border-box;
}
.radio-block label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #7b8ca7;
}
.radio-block p {
  margin-top: -1rem;
}
.input-block {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #234f90;
}
.input-block input {
  width: 626px;
  height: 48px;
  background: #ffffff;
  border: 2px solid #7b8ca7;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #7b8ca7;
  padding-left: 1rem;
}
.input-block textarea {
  background: #ffffff;
  border: 2px solid #7b8ca7;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #7b8ca7;
  padding-left: 1rem;
  height: 107px;
  width: 626px;
  border-radius: 8px;
}

.input-block label {
  margin-top: -1rem;
}
#variante,
#definicao,
#context_uso,
#remissivas,
#idiomas,
#fonte_definicao,
#font_contexto_uso {
  grid-column-start: 1;
  grid-column-end: 1;
  text-align: left;
  width: 626px;
  height: 48px;
  background: #ffffff;
  border: 2px solid #7b8ca7;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #7b8ca7;
  appearance: none;
  background-image: url("../img/Polygon\ 6.png");
  background-repeat: no-repeat;
  background-position: center right 20px;
  padding-left: 1rem;
}
#verbo {
  margin-left: 4rem;
}
#feminino,
#dois-generos {
  margin-left: 2rem;
}
#plural {
  margin-left: 3rem;
}
.button-block {
  display: flex;
}
.verificar_button {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25rem;
}
#verificar-button-especialista {
  background: #430d64;
}
.verificar_button button {
  width: 117px;
  height: 35px;
  color: white;
  background: #314c85;
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0);
}
.salvar {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 25rem;
}
.salvar button {
  width: 117px;
  height: 35px;
  background: #9d1c33;
  border-radius: 8px;
  color: white;
  border-color: rgba(255, 255, 255, 0);
}
.input-block input::-webkit-input-placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #7b8ca7;
}
#frequencia_termo_corpus::-webkit-input-placeholder {
  text-align: end;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

.rodape {
  background-color: #314c85;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.rodape h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
}

#ortografia-block,
#geografica-block,
#sinonimica-block,
#siglas-block,
#acronimos-block,
#dicio-lingua-comu-def-block,
#dicio-espe-def-block,
#dicio-espe2-def-block,
#prop_defini-block,
#context_uso_1_block,
#context_uso_2_block,
#context_uso_3-block,
#hiperonimo-block,
#hiponimo-block,
#co-hiponimo-block,
#termo-ingles-block,
#termo-italiano-block,
#termo-Espanhol-block,
#termo-frances-block,
#font-dici-lingua-comum_block,
#font-dici-especi-1_block,
#font-dici-especi-2_block,
#font-prop-defi_block,
#font_contexto_uso_1_block,
#font_contexto_uso_2_block,
#font_contexto_uso_3_block {
  display: none;
}

#button_mais-block,
#button_menos-block {
  width: 100%;
  text-align: center;
}
.butao_status {
  background-color: white;
  width: 2rem;
  border-color: rgba(255, 255, 255, 0);
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 42px;
  color: #101564;
}

.disabled > * {
  color: #cbd3df !important;
  /* border: 2px solid #cbd3df !important; */
}
.disabled > input {
  color: #cbd3df !important;
  border: 2px solid #cbd3df !important;
}
