.conteudo {
  text-align: center;
  height: 600px;
}
#titu {
  display: flex;
  margin-top: 2rem;
  font-family: Poppins;
  font-size: 28px;
  line-height: 42px;
  line-height: 100%;
  vertical-align: center;
  fill: Solid;
  color: #101564;
  height: 46px;
  border-radius: nullpx;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;

}

legend{
  width: 1650px;
}

#fim{
  cursor: pointer;
}

.tabela-block {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
#tabela {
  width: 1170px;
  table-layout:fixed
  
}
#tabela tr th {
  font-family: Poppins;
  font-size: 26px;
  line-height: 39px;
  line-height: 100%;
  text-align: Left;
  vertical-align: middle;
  color: #234f90;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}

#tabela tr {
  border: 4px solid;
  border-color: rgba(255, 255, 255, 0.1) ;
  border-top-color: #F2F2F2 ;
  height: 71px;
  text-align: left;
}
.bg{
  background-color: #F2F2F2;
}

#tabela tr td {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
  line-height: 100%;
  text-align: Left;
  vertical-align: top;
  fill: Solid;
  color: #0d114f;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  padding-top: 1rem;
}
#values {
  height: 4.5rem;
  border-bottom: solid 1px;
  border-color: #000000;
}
#tabela tr th img {
  margin-right: 0.5rem;
  height: 100%;
}
