*{
  text-decoration: none;
}
p{
  margin: 0px;
}
.block-main{
  display: flex;
  justify-content: center;
  width: 100%;
}
.conteudo{
  width:1365px;
  padding: 2rem;
  padding-right: 0rem;
}
.header_block{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 2rem;
}
.termo_block p{
  Font-family: Open Sans;
  Font-size: 16px;
  Line-height: 22px;
  Line-height: 100%;
  text-Align: Left;
  Fill: Solid;
  color:#0D114F;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

}
.search-block input{
  height: 60px;
  width: 284px;
  border-radius: 8px;
  Stroke: Solid;
  border-color: #7B8CA7;
  background-image: url(../img/search_icon.png);
  background-repeat: no-repeat;
  padding-left: 4rem;
  background-position: center left 1rem;
  Font-family: Open Sans;
  Font-style: Bold;
  Font-size: 16px;
  Line-height: 22px;
  Line-height: 100%;
  Vertical-align: Center;
  Fill: Solid;
  color:#7B8CA7;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
}
.search-block input::placeholder {
  Font-family: Open Sans;
  Font-style: Bold;
  Font-size: 16px;
  Line-height: 22px;
  Line-height: 100%;
  Vertical-align: Center;
  Fill: Solid;
  color:#7B8CA7;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
}
.alphabet-block{
  width: 100%;
}
.termos_block{
  display: grid;
  grid-template-columns: auto auto;
  height: 5rem;
  column-gap: 9rem;
  row-gap: 2rem;
  cursor: pointer;
  
}
.termo_block{
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 579px;
  border: 2px solid #7B8CA7;
  height: 60px;
  border-radius: 8px;
  cursor: pointer;
}
.title-block h2{
  Font-style: Bold;
  Line-height: 42px;
  Line-height: 100%;
  Fill: Solid;
  color:#101564;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
}
.title-block p{
  Font-family: Poppins;
  Font-size: 18px;
  Line-height: 27px;
  Line-height: 100%;
  text-Align: Left;
  Fill: Solid;
  color:#4D5E77;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;

}
.alphabet-block{
  display: flex;
  align-items: center;
  height: 4rem;
  padding-left: 0.1rem;
}
.alphabet-block p,a{
  Font-family: Open Sans;
  Font-size: 16px;
  Line-height: 22px;
  Line-height: 100%;
  Fill: Solid;
  color:#000000;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;

}
.alphabet-block span{
  margin-left: 1rem;
  color: black;
  Font-family: Open Sans;
  Font-size: 16px;
  Line-height: 22px;
  Line-height: 100%;
  Fill: Solid;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}
.alphabet-block a{
  margin-left: 0.6rem;
  text-decoration: none;
}
.alphabet-block a:hover{
  color: black;
}
.block_List{
  overflow-y: scroll;
  padding-right: 2rem;
  height: 300px;
}
