*{
  text-decoration: none;
}

.links{
  margin-right: 0rem;
}
.tela_termos{
  margin-top: 1.5rem;
  width: 100%;
  margin-left: 20px;
}
.tela_termos legend{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #101564;
}
.tela_termos h3{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #4D5E77;
}
.Busca{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 25px;
}
.Busca input{
  grid-column-start: 4;
  width: 293px;
  height: 60px;
  padding-left: 10px;
  background: #FFFFFF;
  border: 2px solid #A1B2CD;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
input:focus{
  outline: 0;
  box-shadow: 0 0 0 0;
}
.termos{
  margin-top: 20px;
  display: inline-block;
  margin: 0 0 0 15px; 
  padding-left: 20px;
  margin-bottom: 30px;
  
}
.borda-termo{
  height: 60px;
  width: 293px;
  background: #FFFFFF;
  border: 2px solid #A1B2CD;
  box-sizing: border-box;
  border-radius: 8px;  
  display: flex;
}
.borda-termo i{
  margin: auto;
  color: #E83F5B;
  cursor: pointer;
}
.termo{
  margin: auto;
  margin-top: 15px;
  width: 193px;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #47D9B6;
  border: 1px solid #47D9B6;
  box-sizing: border-box;
  border-radius: 8px;
}
.termo p{
  margin-top: 2px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  cursor: pointer;
}